In [66]:
import pandas as pd

In [67]:
df = pd.DataFrame({
    "date": ["5/12/2025","6/12/2025"],
    "amount ":[500,600],
    "category":["vadapav","taxi"]
})
print (df)

        date  amount  category
0  5/12/2025      500  vadapav
1  6/12/2025      600     taxi

In [68]:
new_exp = pd.DataFrame( {
    "date": ["7/12/2025"],
    "amount ": [10000],
    "category": ["G Lab"]
})

In [69]:
print(pd.concat([df,new_exp],ignore_index=True))

        date  amount  category
0  5/12/2025      500  vadapav
1  6/12/2025      600     taxi
2  7/12/2025    10000    G Lab

In [70]:
total_expense = pd.concat([df, new_exp], ignore_index=True)
print(total_expense["amount "].sum())

11100

In [71]:
student_data = pd.read_csv('./students.csv')
print(student_data)

     STUDENT ID  Student Age  Sex  Graduated high-school type  \
0      STUDENT1            2    2                           3
1      STUDENT2            2    2                           3
2      STUDENT3            2    2                           2
3      STUDENT4            1    1                           1
4      STUDENT5            2    2                           1
..          ...          ...  ...                         ...
140  STUDENT141            2    1                           2
141  STUDENT142            1    1                           2
142  STUDENT143            1    1                           1
143  STUDENT144            2    1                           2
144  STUDENT145            1    1                           1

     Scholarship type  Additional work  Regular artistic or sports activity  \
0                   3                1                                    2
1                   3                1                                    2
2                   3                2                                    2
3                   3                1                                    2
4                   3                2                                    2
..                ...              ...                                  ...
140                 3                1                                    1
141                 4                2                                    2
142                 4                2                                    2
143                 4                1                                    1
144                 5                2                                    2

     Do you have a partner  Total salary if available  \
0                        2                          1
1                        2                          1
2                        2                          2
3                        1                          2
4                        1                          3
..                     ...                        ...
140                      2                          1
141                      2                          1
142                      2                          1
143                      1                          5
144                      2                          3

     Transportation to the university  ...  Preparation to midterm exams 1  \
0                                   1  ...                               1
1                                   1  ...                               1
2                                   4  ...                               1
3                                   1  ...                               1
4                                   1  ...                               2
..                                ...  ...                             ...
140                                 1  ...                               1
141                                 4  ...                               1
142                                 1  ...                               1
143                                 2  ...                               2
144                                 1  ...                               2

     Preparation to midterm exams 2  Taking notes in classes  \
0                                 1                        3
1                                 1                        3
2                                 1                        2
3                                 2                        3
4                                 1                        2
..                              ...                      ...
140                               1                        2
141                               1                        3
142                               1                        3
143                               1                        2
144                               1                        3

     Listening in classes  \
0                       2
1                       2
2                       2
3                       2
4                       2
..                    ...
140                     1
141                     2
142                     3
143                     1
144                     2

     Discussion improves my interest and success in the course  \
0                                                    1
1                                                    3
2                                                    1
3                                                    2
4                                                    2
..                                                 ...
140                                                  2
141                                                  2
142                                                  2
143                                                  2
144                                                  3

     Flip-classroom  \
0                 2
1                 2
2                 1
3                 1
4                 1
..              ...
140               1
141               1
142               1
143               1
144               1

     Cumulative grade point average in the last semester (/4.00)  \
0                                                    1
1                                                    2
2                                                    2
3                                                    3
4                                                    2
..                                                 ...
140                                                  3
141                                                  5
142                                                  4
143                                                  5
144                                                  5

     Expected Cumulative grade point average in the graduation (/4.00)  \
0                                                    1
1                                                    3
2                                                    2
3                                                    2
4                                                    2
..                                                 ...
140                                                  3
141                                                  3
142                                                  3
143                                                  3
144                                                  4

     COURSE ID  GRADE
0            1      1
1            1      1
2            1      1
3            1      1
4            1      1
..         ...    ...
140          9      5
141          9      5
142          9      1
143          9      4
144          9      3

[145 rows x 33 columns]

In [72]:
print (student_data.head())

  STUDENT ID  Student Age  Sex  Graduated high-school type  Scholarship type  \
0   STUDENT1            2    2                           3                 3
1   STUDENT2            2    2                           3                 3
2   STUDENT3            2    2                           2                 3
3   STUDENT4            1    1                           1                 3
4   STUDENT5            2    2                           1                 3

   Additional work  Regular artistic or sports activity  \
0                1                                    2
1                1                                    2
2                2                                    2
3                1                                    2
4                2                                    2

   Do you have a partner  Total salary if available  \
0                      2                          1
1                      2                          1
2                      2                          2
3                      1                          2
4                      1                          3

   Transportation to the university  ...  Preparation to midterm exams 1  \
0                                 1  ...                               1
1                                 1  ...                               1
2                                 4  ...                               1
3                                 1  ...                               1
4                                 1  ...                               2

   Preparation to midterm exams 2  Taking notes in classes  \
0                               1                        3
1                               1                        3
2                               1                        2
3                               2                        3
4                               1                        2

   Listening in classes  \
0                     2
1                     2
2                     2
3                     2
4                     2

   Discussion improves my interest and success in the course  Flip-classroom  \
0                                                  1                       2
1                                                  3                       2
2                                                  1                       1
3                                                  2                       1
4                                                  2                       1

   Cumulative grade point average in the last semester (/4.00)  \
0                                                  1
1                                                  2
2                                                  2
3                                                  3
4                                                  2

   Expected Cumulative grade point average in the graduation (/4.00)  \
0                                                  1
1                                                  3
2                                                  2
3                                                  2
4                                                  2

   COURSE ID  GRADE
0          1      1
1          1      1
2          1      1
3          1      1
4          1      1

[5 rows x 33 columns]

In [73]:
print (student_data.tail())

     STUDENT ID  Student Age  Sex  Graduated high-school type  \
140  STUDENT141            2    1                           2
141  STUDENT142            1    1                           2
142  STUDENT143            1    1                           1
143  STUDENT144            2    1                           2
144  STUDENT145            1    1                           1

     Scholarship type  Additional work  Regular artistic or sports activity  \
140                 3                1                                    1
141                 4                2                                    2
142                 4                2                                    2
143                 4                1                                    1
144                 5                2                                    2

     Do you have a partner  Total salary if available  \
140                      2                          1
141                      2                          1
142                      2                          1
143                      1                          5
144                      2                          3

     Transportation to the university  ...  Preparation to midterm exams 1  \
140                                 1  ...                               1
141                                 4  ...                               1
142                                 1  ...                               1
143                                 2  ...                               2
144                                 1  ...                               2

     Preparation to midterm exams 2  Taking notes in classes  \
140                               1                        2
141                               1                        3
142                               1                        3
143                               1                        2
144                               1                        3

     Listening in classes  \
140                     1
141                     2
142                     3
143                     1
144                     2

     Discussion improves my interest and success in the course  \
140                                                  2
141                                                  2
142                                                  2
143                                                  2
144                                                  3

     Flip-classroom  \
140               1
141               1
142               1
143               1
144               1

     Cumulative grade point average in the last semester (/4.00)  \
140                                                  3
141                                                  5
142                                                  4
143                                                  5
144                                                  5

     Expected Cumulative grade point average in the graduation (/4.00)  \
140                                                  3
141                                                  3
142                                                  3
143                                                  3
144                                                  4

     COURSE ID  GRADE
140          9      5
141          9      5
142          9      1
143          9      4
144          9      3

[5 rows x 33 columns]

In [74]:
print (student_data.describe())

       Student Age         Sex  Graduated high-school type  Scholarship type  \
count   145.000000  145.000000                  145.000000        145.000000
mean      1.620690    1.600000                    1.944828          3.572414
std       0.613154    0.491596                    0.537216          0.805750
min       1.000000    1.000000                    1.000000          1.000000
25%       1.000000    1.000000                    2.000000          3.000000
50%       2.000000    2.000000                    2.000000          3.000000
75%       2.000000    2.000000                    2.000000          4.000000
max       3.000000    2.000000                    3.000000          5.000000

       Additional work  Regular artistic or sports activity  \
count       145.000000                           145.000000
mean          1.662069                             1.600000
std           0.474644                             0.491596
min           1.000000                             1.000000
25%           1.000000                             1.000000
50%           2.000000                             2.000000
75%           2.000000                             2.000000
max           2.000000                             2.000000

       Do you have a partner  Total salary if available  \
count             145.000000                 145.000000
mean                1.579310                   1.627586
std                 0.495381                   1.020245
min                 1.000000                   1.000000
25%                 1.000000                   1.000000
50%                 2.000000                   1.000000
75%                 2.000000                   2.000000
max                 2.000000                   5.000000

       Transportation to the university  Accommodation type in Cyprus  ...  \
count                        145.000000                    145.000000  ...
mean                           1.620690                      1.731034  ...
std                            1.061112                      0.783999  ...
min                            1.000000                      1.000000  ...
25%                            1.000000                      1.000000  ...
50%                            1.000000                      2.000000  ...
75%                            2.000000                      2.000000  ...
max                            4.000000                      4.000000  ...

       Preparation to midterm exams 1  Preparation to midterm exams 2  \
count                      145.000000                      145.000000
mean                         1.337931                        1.165517
std                          0.614870                        0.408483
min                          1.000000                        1.000000
25%                          1.000000                        1.000000
50%                          1.000000                        1.000000
75%                          2.000000                        1.000000
max                          3.000000                        3.000000

       Taking notes in classes  Listening in classes  \
count               145.000000            145.000000
mean                  2.544828              2.055172
std                   0.564940              0.674736
min                   1.000000              1.000000
25%                   2.000000              2.000000
50%                   3.000000              2.000000
75%                   3.000000              3.000000
max                   3.000000              3.000000

       Discussion improves my interest and success in the course  \
count                                         145.000000
mean                                            2.393103
std                                             0.604343
min                                             1.000000
25%                                             2.000000
50%                                             2.000000
75%                                             3.000000
max                                             3.000000

       Flip-classroom  \
count      145.000000
mean         1.806897
std          0.810492
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000

       Cumulative grade point average in the last semester (/4.00)  \
count                                         145.000000
mean                                            3.124138
std                                             1.301083
min                                             1.000000
25%                                             2.000000
50%                                             3.000000
75%                                             4.000000
max                                             5.000000

       Expected Cumulative grade point average in the graduation (/4.00)  \
count                                         145.000000
mean                                            2.724138
std                                             0.916536
min                                             1.000000
25%                                             2.000000
50%                                             3.000000
75%                                             3.000000
max                                             4.000000

        COURSE ID       GRADE
count  145.000000  145.000000
mean     4.131034    3.227586
std      3.260145    2.197678
min      1.000000    0.000000
25%      1.000000    1.000000
50%      3.000000    3.000000
75%      7.000000    5.000000
max      9.000000    7.000000

[8 rows x 32 columns]

In [75]:
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   STUDENT ID                                                         145 non-null    object
 1   Student Age                                                        145 non-null    int64
 2   Sex                                                                145 non-null    int64
 3   Graduated high-school type                                         145 non-null    int64
 4   Scholarship type                                                   145 non-null    int64
 5   Additional work                                                    145 non-null    int64
 6   Regular artistic or sports activity                                145 non-null    int64
 7   Do you have a partner                                              145 non-null    int64
 8   Total salary if available                                          145 non-null    int64
 9   Transportation to the university                                   145 non-null    int64
 10  Accommodation type in Cyprus                                       145 non-null    int64
 11  Mother’s education                                                 145 non-null    int64
 12  Father’s education                                                 145 non-null    int64
 13  Number of sisters/brothers                                         145 non-null    int64
 14  Parental status                                                    145 non-null    int64
 15  Mother’s occupation                                                145 non-null    int64
 16  Father’s occupation                                                145 non-null    int64
 17  Weekly study hours                                                 145 non-null    int64
 18  Reading frequency                                                  145 non-null    int64
 19  Reading frequency.1                                                145 non-null    int64
 20  Attendance to the seminars/conferences related to the department   145 non-null    int64
 21  Impact of your projects/activities on your success                 145 non-null    int64
 22  Attendance to classes                                              145 non-null    int64
 23  Preparation to midterm exams 1                                     145 non-null    int64
 24  Preparation to midterm exams 2                                     145 non-null    int64
 25  Taking notes in classes                                            145 non-null    int64
 26  Listening in classes                                               145 non-null    int64
 27  Discussion improves my interest and success in the course          145 non-null    int64
 28  Flip-classroom                                                     145 non-null    int64
 29  Cumulative grade point average in the last semester (/4.00)        145 non-null    int64
 30  Expected Cumulative grade point average in the graduation (/4.00)  145 non-null    int64
 31  COURSE ID                                                          145 non-null    int64
 32  GRADE                                                              145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB
None

In [76]:
print (student_data["Student Age"] > 1)
print (student_data["Sex"] > 1)

0       True
1       True
2       True
3      False
4       True
       ...
140     True
141    False
142    False
143     True
144    False
Name: Student Age, Length: 145, dtype: bool
0       True
1       True
2       True
3      False
4       True
       ...
140    False
141    False
142    False
143    False
144    False
Name: Sex, Length: 145, dtype: bool

In [77]:
product = pd.DataFrame({
    "price": [100,200,300],
    "product_name": ["A","B","C"]
})
print (product)

   price product_name
0    100            A
1    200            B
2    300            C

In [78]:
print(product.loc[1,"price"])

200

In [79]:
product1 = pd.DataFrame({
    "discout" :["10%","20%","30%"],
    "tax" : ["10","20","30"]
})
print (product1)

  discout tax
0     10%  10
1     20%  20
2     30%  30

In [80]:
print (pd.concat([product,product1],ignore_index=True))

   price product_name discout  tax
0  100.0            A     NaN  NaN
1  200.0            B     NaN  NaN
2  300.0            C     NaN  NaN
3    NaN          NaN     10%   10
4    NaN          NaN     20%   20
5    NaN          NaN     30%   30